@page
@model MediaLibrarySystem.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<!-- Written by Brian McCarthy -->
<h1>@ViewData["Title"]</h1>
<p>Developed by Brian McCarthy to demonstrate .NET 8 mastery.</p>
