@page
@model MediaLibrarySystem.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<!-- Written by Brian McCarthy -->
<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control" type="email" required />
    </div>
    <div class="form-group">
        <label>Subject</label>
        <input name="subject" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit Ticket</button>
</form>
